<!DOCTYPE html>
<html>
<head>
  <title>Heroku ssl</title>
  <%= stylesheet_link_tag    "heroku_ssl/application", media: "all" %>
  <%= javascript_include_tag "heroku_ssl/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
